.ok__button {
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    left: 7px;
    top: 90px;
    z-index: 100;
}
.cancel__button {
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    background-color: grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
    left: 40px;
    top: 90px;
    z-index: 100;
} 

