h1 {
    /* margin-left: 700px; */
    /* margin-right: 700px; */
    background-size: 100px 100px;
    background-color: firebrick;
    border-radius: 12px 12px 12px 12px;
    margin-top: 13%;
    font-style: oblique;
    text-shadow: 8px 12px 15px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;

}

/* h1 span:nth-of-type(3n+1) {
    color: white;
}
h1 span:nth-of-type(3n+2) {
    color:white;
}
h1 span:nth-of-type(3n+3) {
    color:white;
} */

.lili {
    width: 9%;
    text-align: center;
}
.main {
    /* margin-block-end: 11%; */
    border-radius: 21px;
    border-width: 3px;
    width: 20%;
    height: 50px;
    font-size: 21px;

}
div.other {
    text-align: center;
    margin-bottom: 20px;
}


a.above {
    margin-right: 1em;
    float: right;
    text-decoration-line: none;
    color: brown;
    font-size: 21px
}
/* article {
    background-color:gray;
} */
 
p { 
    padding-top: 32px;
    border-top: 3px solid black;
    font-size: 21px;
    color: yellow;
}

footer article{
    border-bottom: 3px solid black;
}
.diff {
    margin-top: 30px;
    font-size: 3ex;
    float: left;
    margin-right: 1em;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.di {
    margin-top: 30px;
    font-size: 3ex;
    float: right;
    margin-left: 1em;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

/* Choose language */
header {
    text-align: center;
    margin-bottom: 11%;
}
.put {
    
    color: black;
    font-size: 22px;
}
.lan {
    margin-left: 0.5em;
    text-decoration-line: none;
    color: mediumseagreen;
    font-size: 21px;
}
    

body {
    background-color: grey;
    margin: 0;
    padding: 0;
}
