#conteiner {
    width: 800px;
    height: 750px;
    border: 4px solid black; 
}
#conteiner h2 {
    border-bottom: 4px solid black;
} 
.first_pink {
    height: 150px;
    width: 200px;
    background-color: pink;
    margin-left: 100px;
} 
.first_blue {
    height: 150px;
    width: 350px;
    background-color: aquamarine;
}
.first_pink, .first_blue {
    display: inline-block;
    margin-right: 40px;
}
.second_pink {
    height: 150px;
    width: 200px;
    background-color: pink;
    margin-top: 20px;
    margin-left: 100px;  
}
.second_blue {
    height: 150px;
    width: 350px;
    margin-top: 20px;
    background-color: aquamarine;
}
.second_pink, .second_blue {
    display: inline-block;
    margin-right: 40px;
}
.third_pink {
    height: 150px;
    width: 200px;
    background-color: pink;
    margin-top: 20px;
    margin-left: 100px; 
}
.third_blue {
    height: 150px;
    width: 350px;
    margin-top: 20px;
    background-color: aquamarine;
}
.third_pink, .third_blue {
    display: inline-block;
    margin-right: 40px;
}

.gold {
    width: 593px;
    height: 150px;
    background-color: gold;
    margin-top: 20px;
    margin-left: 100px;
}